<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :meal_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :meal_items %>
    <%= form.text_area :meal_items, id: :meal_meal_items, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :calories %>
    <%= form.number_field :calories, id: :meal_calories, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :mood %>
    <%= form.text_area :mood, id: :meal_mood, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :meal_start_time, class: "form-control" %>
  </div>

  <%= form.submit 'Submit', class:'btn btn-outline-primary btn-lg' %>
  <p></p>
<% end %>
