<% if current_user %>

  <%= link_to 'New Meal', new_meal_path %>
  <p></p>
  <h5>Today's total calories: <%= @todays_meals.sum(:calories) %></h5>
  <p></p>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-xl">
      <%= month_calendar events: @meals do |date, meals| %>
      <%= date %>

        <% meals.each do |meal| %>
          <div>
            <%= link_to "#{meal.name}:", meal %>
            <%= meal.calories %> cals
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
